@import url(https://fonts.googleapis.com/css?family=Raleway);

body
{
    background: url('../images/map_135.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

select
{
    font-family: 'Raleway', sans-serif; 
}

.margin_20
{
    margin: 20px;
}

.margin_40
{
    margin: 40px;
}

.no_margin
{
    margin: 0px !important;
}

.no_border
{
    padding: 0px !important;
}

.no_list_style
{
    list-style: none;
}

.fill
{
    width: 100%;
    height: 100%;
}

.fill_width
{
    width: 100%;
}

.fill_height
{
    height: 100%;
}

.column_parent
{
    display: inline-block;
    
    width: 100%;
}

.column_2_1
{
    float: left;

    width: 50%;
}

.input
{

}

.input.list
{
    margin-left: 150px;
    
    min-height: 245px;
    
    background-color: #FFFFFF;

    border: 1px solid #AAAAAA;
    border-bottom-width: 5px;
}

.input.list option
{
    display: block;
    
    padding: 10px;

    height: 40px;

    border-bottom: 1px solid #AAAAAA;
    
    line-height: 40px;
}

.input.text
{
    display: block;

    margin: 20px;
    
    width: 100%;
    height: 40px;
    
    border: 1px solid #AAAAAA;
    border-bottom: 1px solid #DDDDDD;
    
    text-indent: 15px;
}

.input.submit
{
    display: block;
    
    margin: 20px;
        
    height: 40px;
    width: 200px;
    
    background-color: #FFFFFF;
    
    border: 1px solid #AAAAAA;
}



#layout_navigator
{
    padding: 25px;
}

#layout_navigator li
{
    padding: 0 25px;
    
    height: 50px;
    width: auto;
    
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    border-bottom-width: 5px;
    
    color: #1E4D2B;
    
    font-family: 'Raleway', sans-serif;
    line-height: 50px;
    
    cursor: pointer;
}

#layout_container
{
    height: auto;
}

#layout_header
{
    height: 100px;

    background-color: #1E4D2B;
    
    border-bottom: 5px solid #0E3D1B
}

#layout_options
{
    border-radius: 15px;

    overflow: hidden;
}

#layout_options li
{
    width: 100px;
    height: 50px;

    background-color: darkseagreen;

    border-radius: 10px;

    font-family: 'helvetica';
    color: #FFFFFF;
    line-height: 50px;
    text-indent: 15px;
}

#layout_lists
{
    margin: 0 auto;
    
    overflow: hidden;
}

@media only screen and (min-width : 1000px) {
    #layout_lists
    {
        max-width: 1000px;
    }
}

.layout_list
{
    display: none;
    
    margin: 25px 0;

    width: 100%;
    height: 0px;

    overflow: hidden;
}

.layout_list.active
{   
    display: block;
    
    padding: 0 0 50px 0;
    
    height: auto;
}      

.layout_list.inactive
{
    display: block;
    
    height: auto;
}

.layout_list#balie
{

}

.layout_list #passenger
{
    width: 100%;
    height: auto;
}

#layout_progress
{
    float: left;
    
    width: auto;
    height: auto;
    min-height: 245px;
    
    background-color: #1E4D2B;
    
    border: 1px solid #0E3D1B;
    border-bottom-width: 5px;
}

#layout_progress .progress
{
    width: 140px;

    color: #FFFFFF;
    font-family: 'Helvetica', sans-serif;
    font-size: 80pt;
    text-align: center;
    line-height: 160px;
}

#layout_progress .progress_titel
{
    color: #FFFFFF;
    font-family: 'Helvetica', sans-serif;
    font-size: 12pt;
    text-align: center;
}

#balie_list
{
    height: 100%;
    min-height: 245px;
    
    border: none;
}


.data_list
{
    
}

.data_list li
{
    width: 100%;
    height: 30px;
    
    font-family: 'Raleway', sans-serif;
}